@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca:wght@400;700&display=swap');
:root {
    --bg-main: hsl(233, 47%, 7%);
    --bg-card: hsl(244, 38%, 16%);
    --v-acc: hsl(277, 64%, 61%);
    --White-main: hsl(0, 0%, 100%);
    --white-paragraph: hsla(0, 0%, 100%, 0.75);
    --white-stat-headings: hsla(0, 0%, 100%, 0.6);
}

body {
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: var(--bg-main);
    justify-content: center;
    align-items: center;
    line-height: 1.3;
    font-size: 15px;
}
main {
    display: flex;
    width: 1000px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    background: var(--bg-card);
}
.leftSide {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 4rem;
}
.rightSide {
    width: 50%;
    background-color: var(--v-acc);
    background-image: url(images/image-header-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}
h1 {
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.275px;
    color: var(--White-main);
    margin: 0 0 22px 0;
    font-weight: 700;
    font-size: 32px;
    width: 90%;
    line-height: 1.25;
}
span {
    color: var(--v-acc);
}
p {
    font-family: 'Inter', sans-serif;
    color: var(--white-stat-headings);
    font-weight: 300;
    font-size: 13px;
    line-height: 1.7;
    width: 90%;
    letter-spacing: 0.1px;
    margin: 0 0 64px 0;
}
ul {
    display: flex;
    width: 318px;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
li {
    font-family: 'Inter', sans-serif;
    display: block;
    font-weight: 400;
    font-size: 12px;
}
h2 {
    color: var(--White-main);
    margin: 0 0 4px 2px;
    font-size: 20px;
    letter-spacing: 0.5px;
}
li p {
    color: hsla(0, 0%, 100%, 0.418);
    font-family: 'lexend deca', sans-serif;
    font-size: 11px;
    margin: 0 0 0 0;
    letter-spacing: 0.5px;
    font-weight: 700;
}
.attribution { 
    position: absolute;
    font-size: 11px; 
    text-align: center; 
    bottom: 20px;
    color: whitesmoke;
    letter-spacing: 1px;
}
.attribution a { color: hsl(228, 45%, 44%); 
}
@media (max-width: 1080px) {

    main {
        display: flex;
        flex-direction: column-reverse;
        width: 350px;
        height: 90vh;
        justify-content: flex-end;
    }
    .leftSide {
        text-align: center;
        align-items: center;
        width: 350px;
        padding: 0;
    }
    h1 {
        margin-top: 2rem;
        font-size: xx-large;
        line-height: 1.1;
        letter-spacing: normal;
    }
    ul {
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    }
    .rightSide {
        width: 100%;
        height: 257px;
        background-image: url(images/image-header-mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: multiply;
    }
}